<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../layout/head')%>
</head>
<body>
    <main>
        <%-include('../layout/header')%>
        <aside>
            <form action="/search" method="POST">
                <span>Search</span>
                <input type="text" name="search" placeholder="Enter a title or author" required>
                <input type="radio" name="condition" value="title" required>
                <span>By Title</span>
                <input type="radio" name="condition" value="author" required>
                <span>By Author</span>
                <button>Search the Google Books API</button>
            </form>
        </aside>
    </main>

    
</body>
</html>