<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search for books</title>
    <link rel="stylesheet" href="/styles/base.css">
</head>
<body>
    <main>
        <h2>Search by Title or Author</h2>
        <aside>
            <form action="/search" method="POST">
                <span>Search</span>
                <input type="text" name="search" placeholder="Enter a title or author" required>
                <input type="radio" name="condition" value="title" required>
                <span>By Title</span>
                <input type="radio" name="condition" value="author" required>
                <span>By Author</span>
                <button>Search the Google Books API</button>
            </form>
        </aside>
    </main>

    
</body>
</html>