<header>

    <!-- <nav>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <div class="nav-links">
        <aside>
            <form action="/search" method="POST">
                <span>Search</span>
                <input type="text" name="search" placeholder="Enter a title or author" required>
                <input type="radio" name="condition" value="title" required>
                <span>By Title</span>
                <input type="radio" name="condition" value="author" required>
                <span>By Author</span>
                <button>Search the Google Books API</button>
            </form>
        </aside>
    </div>
 -->

    <h1><a href="../">Best Books!</a></h1>
    <a href="/searches/new"><img class="hamburger" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Hamburger_icon_white.svg/60px-Hamburger_icon_white.svg.png"></a>
</header>