<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./layout/head')%>
</head>
<body>
    <%-include('./layout/header')%>
    <main>
        <h2>Error Page</h2>
        <p>Sorry! an error has occured, this is it's information</p>
        <p><%=error%></p>
    </main>

</body>
</html>