<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Collection</title>
    <link rel="stylesheet" href="/styles/base.css">
</head>
<body>
    <header>Hello world!</header>
    <h2>Go to search page <a href="/book">here</a></h2>
</body>
</html>